* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  nav ul li {
    margin-left: 55px;
    padding: 25px;
    float:right;
    width: 100px;
    font-size:30px;
    
  }
  .nav{
    background: skyblue;
    margin-bottom: 20px;
    padding: 75px;
    text-align: justify;

  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    color: rgb(14, 11, 201);
    
  
  }
  body{
    background-color: rgb(200, 233, 83);
  }
  
  .box {
    margin: 3cm ;
    width: 7cm;
  height: 10cm;
  background: rgb(114, 222, 236);
  text-align:left;
  float: left;
  border:1px solid rgb(97, 39, 151);
  font-size: medium;
  
  }
  .menu li {
  font-size: 25px;
  list-style: none;
  font-weight: bolder;
  
  }
  section {
  border-radius: 5px;
  color: #444;
  }
  
  .logo2 {
    font-size: 30px;
    font-weight: bold;
    border: 1px solid rgb(60, 30, 192);
    
  }
 
  #boxcontainer {
      display: flex;
      justify-content: center;
  }
  h5 {
font-size: .75cm;
  }