* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
nav ul li {
  margin-left: 55px;
  padding: 25px;
  float:right;
  width: 100px;
  font-size:30px;

 
}
.nav{
  background: skyblue;
  margin-bottom: 20px;
  padding: 75px;
  text-align: justify;
}

.logo {
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  color: rgb(14, 11, 201);

}
body{
  background-color: thistle;
}

.box {
  margin: 2cm ;
  width: 5cm;
height: 5cm;
background: rgb(98, 216, 231);
text-align:left;
float: left;
border:1px solid blue;

}
.menu li {
font-size: 25px;
list-style: none;
font-weight: bolder;
}
section {
border-radius: 5px;
color: #444;
}

.logo2 {
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;

}
#boxcontainer {
width: 1100px;
margin: 0 auto;
}
